@import "../../vars.scss";
$cellHeight: 120px;

.calendar_container {
  display: grid;
  margin: auto;
  @media screen and (min-width: 600px) {
    grid-template-columns: repeat(7, 1fr);
  }
  gap: 5px;
  max-width: 1000px;
}

.calendar_container > div {
  min-height: $cellHeight;
}

@media screen and (max-width: 600px) {
  .empty-cell {
    display: none;
  }
}

.calendar_cell {
  box-sizing: border-box;
  background-color: $backgroundGrey;
  padding: 10px;

  &__day {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    color: $baseGrey;
  }

  &.today {
    background-color: #ddf1c8;
  }

  &__events_container {
    height: 70px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background: $baseGrey;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
}

.eventInfo {
  background-color: #54423e;
  height: 1rem;
  color: white;
  padding: 1px;
  margin-top: 4px;
  border-radius: 3px;
  font-size: 13px;
  overflow: hidden;
  cursor: pointer;
}
